@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .fixed-aspect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.four-three{
  @include aspect-ratio(4, 3);
}

.square{
  @include aspect-ratio(1, 1);
}

.logo-shape{
  @include aspect-ratio(164, 72);
}




.container{
  max-width: 1376px;
  margin: 0 auto;
}

.h-padded{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  
  @media (min-width: $small) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  @media (min-width: $mid) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  @media (min-width: $big) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}


.v-padded-small{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  @media (min-width: $small) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  @media (min-width: $mid) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  @media (min-width: $big) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}


.v-padded{
  padding-top: 3rem;
  padding-bottom: 3rem;
  
  @media (min-width: $small) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  @media (min-width: $mid) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  @media (min-width: $big) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}


.v-padded-big{
  padding-top: 4rem;
  padding-bottom: 4rem;
  
  @media (min-width: $small) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  @media (min-width: $mid) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  
  @media (min-width: $big) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}


.horizontal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    
  &.reverse{
    flex-direction: row-reverse;
  }
}


.cell{
  @extend .h-padded;
}

.row{
  @extend .h-padded;
  width: 100%;
  > *{
    width: 100%;
  }
}










.xs-half{
  width: 50%;
}

.xs-two-thirds{
  width: 66.66%;
}

@media (min-width: $small) {
  .s-third{
    width: 33.33%;
  }

  .s-two-thirds{
    width: 66.66%;
  }

  .s-half{
    width: 50%;
  }
}

@media (min-width: $mid) {
  .m-quarter{
    width: 25%;
  }

  .m-third{
    width: 33.33%;
  }

  .m-two-thirds{
    width: 66.66%;
  }

  .m-half{
    width: 50%;
  }
}

@media (min-width: $big) {
  .l-third{
    width: 33%;
  }

  .l-half{
    width: 50%;
  }

  .l-two-thirds{
    width: 66.66%;
  }

  .l-full{
    width: 100%;
  }
}
